/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-font-family: sans-serif;
}
.pane {
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-border-style: solid;
}

.button {
	-fx-background-color: white;
	-fx-border-color: #c9c9c9;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}


#logo {
	-fx-border-width: 0 0 1px 0;
	-fx-border-color: black;
}
#menu {
	-fx-border-width: 0 1px 0 0;
	-fx-border-color: black;
	-fx-background-color: white;
}

#menu .button {
	-fx-border-color: white;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 0;
}

#headingLabel, #formHeading {
	-fx-font-weight: bold;
	-fx-font-size: 16px;
}

#propertyCount, #customerCount, #rentalCount, #landmarkCount {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-text-alignment: center;
}

#pptyCard, #pptyCard1 {
	-fx-border-color: #555555;
	-fx-border-width: 1px;
	-fx-border-style: solid;	
}


#pptyStatus, #pptyStatus1 {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#pptyTitle, #editLabel {
	-fx-font-style: italic;
	-fx-font-weight: bolder;
	-fx-font-size: 14px;
}

#pptyDetailsArea {
	-fx-font-size: 14px;
	-fx-font-weight: 600;
}

#nameHeader, #emailHeader, #phoneHeader, #dobHeader, #rentalPptyHeader {
	-fx-font-weight: 800;
	-fx-font-size: 14px;
}

#loginBtn, #importBtn, #addNew,  #generateInvoice, #submitEdit, #updateDetails, #submitBtn {
	-fx-background-color: #3fa944;
	-fx-text-fill: white;
	-fx-border-color: #3fa944;
}

#editPptyDetails {
	-fx-background-color: white;
}

#optionsWrapper .label {
	-fx-font-size: 12px;
}

#tableCount {
	-fx-font-weight: 700;
	-fx-font-style: italic;
}


